{% extends 'base.html' %}
{% comment %}title blcok{% endcomment %}
<title>
  {% block title %}
    Quiz List
  {% endblock %}
</title>

{% comment %}exta css{% endcomment %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/quizList.css' %}" />
{% endblock %}

<!-- content block -->
{% block content %}
  <h2>Active Quizzes</h2>
  {% if active_quizzes %}
    <div class="quiz-container">
      {% for quiz in active_quizzes %}
        <a href="{% url 'quizQuesition' quiz.id %}" class="quiz-card">
          <h3>{{ quiz.course.courseCode }} : {{ quiz.course.courseName }}</h3>
          <h4>Quiz : {{ quiz.quiz_no }}</h4>
          <h4>{{ quiz.department.title }}-{{ quiz.batch.title }}</h4>
          <p>Start: {{ quiz.start|date:'M d, Y  H:i' }}</p>
          <p>End: {{ quiz.end|date:'M d, Y H:i' }}</p>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>No active quizzes right now.</p>
  {% endif %}

  <hr />

  <h2>Upcoming Quizzes</h2>
  {% if upcoming_quizzes %}
    <div class="quiz-container">
      {% for quiz in upcoming_quizzes %}
        <a href="{% url 'quizQuesition' quiz.id %}" class="quiz-card upcoming">
          <h3>{{ quiz.course.courseCode }} : {{ quiz.course.courseName }}</h3>
          <h4>Quiz : {{ quiz.quiz_no }}</h4>
          <h4>{{ quiz.department.title }}-{{ quiz.batch.title }}</h4>
          <p>Start: {{ quiz.start|date:'M d, Y  H:i' }}</p>
          <p>End: {{ quiz.end|date:'M d, Y H:i' }}</p>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>No upcoming quizzes.</p>
  {% endif %}

  <hr />

  <h2>Previous Quizzes</h2>
  {% if previous_quizzes %}
    <div class="quiz-container">
      {% for quiz in previous_quizzes %}
        <a href="{% url 'quizQuesition' quiz.id %}" class="quiz-card previous">
          <h3>{{ quiz.course.courseCode }} : {{ quiz.course.courseName }}</h3>
          <h4>Quiz : {{ quiz.quiz_no }}</h4>
          <h4>{{ quiz.department.title }}-{{ quiz.batch.title }}</h4>
          <p>Start: {{ quiz.start|date:'M d, Y  H:i' }}</p>
          <p>End: {{ quiz.end|date:'M d, Y H:i' }}</p>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>No previous quizzes.</p>
  {% endif %}
{% endblock %}
